/*-------------------------------------------*\
            Monopoly Game CSS
\*-------------------------------------------*/
/* Rules are alphabetized by tags, then by class, then by id */

:root {
  --colorOne: #1446A0;
  --colorTwo: #EAE6E5;
}

body {
    background-color: var(--colorOne);
    font-family: Cambria, times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

button {
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.9);
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.5em;
    margin: .5em;
}

button:active {
    background-color: var(--colorOne);
    box-shadow: none;
    color: white;
}

button.fixedWidthButton {
    width: 300px;
}

button.mainButtons {
  font-size: 1.5em;
  padding: 4px 8px;
}

button.toggled {
  background-color: var(--colorOne);
  color: ghostwhite;
  display: inline-block;
  font-size: 1em;
  margin: 0.5em;
  width: 125px;
}

button.unToggled {
  background-color: #f7fbff;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  color: black;
  display: inline-block;
  font-size: 1em;
  margin: .5em;
  width: 125px;
}

div#optionsMenu {
    background-color: #fffff7;
    box-shadow: 4px 4px 4px black;
    display: none;
    font-size: 1.3em;
    margin: 0 auto 0 auto;
    min-height: 400px;
    overflow: auto;
    padding: 0em 0.5em 1em 0.5em;
    width: 80%;
}

div#repairs {
  display: none;
}

h1#topLogo {
    font-size: 2.4em;
}

fieldset {
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

input[type=number] {
  font-size: 1em;
}

input[type=number] {
  background-color: white;
}

main {
    background-color: var(--colorTwo);
    box-shadow: 5px 5px 5px black;
    border-radius: 2px;
    margin: 3.4em auto 0 auto;
    padding: 1em;
    max-width: 85%;
    min-width: 60%;
}

table {
  background-color: #fffff7;
  border: 1px solid black;
  border-spacing: 0em;
  margin: 0 auto 0 auto;
  width: 80%;
    
}

td {
    border: 1px solid black;
    font-size: 2em;
    vertical-align: center;
}

td.addMoney,td.takeMoney {
  font-size: 3em;
  font-weight: 900;
  padding: 0em 0.35em;
  text-align: center;
}

td.addMoney {
  color: green;
}

td.money {
  font-weight: 900;
}

td.takeMoney {
  color: red;
}

span.plus, span.minus {
    font-family: sans-serif;
    line-height: 0em;
    font-size: 1.4em;
}

svg {
    margin: 0 auto 0 auto;
    padding: 0.1em;
    text-align: center;
    width: 100%;
    font-size: 1em;
}



/* Classes */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bolder;
}

.close:hover, .close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.containerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.flankingHeaderSVG {
    height: 3.5em;
    margin: auto 1em auto 1em;
    padding: 0;
    
}

.footerContent {
    font-size: 1.2em;
    text-align: center;
}

.footerContent > a{
    color: black;
}

.linkToPortfolio {
    background-color: black;
    margin: 0;
    padding: .2em 0em;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 100%;
}

.linkToPortfolio > a {
    color: snow;
    padding-left: 1em;
}

.miniFlankingSVG {
    font-size: 1.7em;
}

.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: #fffff7;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15% auto;
    padding: 20px 20px 20px 20px;
    width: 50%;
}

.svgButton {
    height: 1.3em;
    margin: auto;
    padding: 0;
}


.svgButtonNoRightMargin {
    height: 40px;
    margin: auto .1em auto 0.1em;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 10px;
        font-weight: 700;
    }
}
@media only screen and (max-width: 700px) {
    body {
        font-size: 8px;
        font-weight: 700;
    }
}
@media only screen and (max-width: 500px) {
    body {
        font-size: 5px;
        font-weight: 700;
    }
}
