/* ============================================= *\
                Noun Chart Generator
        Index
        - Root
        - Media Queries
        - Body, div, footer, etc
        - Headeing
        - Buttons and inputs
        - Toggle tabs
        -
        -
        - FlexBox related
        - Other

\* ============================================= */

:root {
    --primaryColor: #000000;
}



/* ============================================= *\
                Media Queries
\* ============================================= */

/*
@media only screen and (min-width : 300px) and (max-width : 570px) {
    body {
        font-size: 8px;
    }
}
@media only screen and (min-width : 410px) and (max-width : 700px) {
    body {
        font-size: 10px;
    }
}
@media only screen and (min-width : 701px) {
    body {
        font-size: 18px;
    }
}
*/
/* ============================================= *\
                Main Styled Parts
\* ============================================= */

/*Body stylings are below in the CSS grid portion */

header {
    grid-area: header;
    background-color: darkgreen;
    border: 2px solid black;
    box-sizing: border-box;
    color: black;
    vertical-align: middle;
    text-align: center;
    font-size: 0.9em;
}
main {
    grid-area: main;
    box-sizing: border-box;
    padding: 1em;
    min-height: 100vh;
    justify-items: center;
}
footer {
    grid-area: footer;
    background-color: darkgreen;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    padding: .3em 0;
    color: white;
}
footer a {
    color: white;
}


/* ============================================= *\
                CSS Grid
\* ============================================= */
body { 
    margin: 0em;
    padding: 0em;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    font-size: 0.85em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    font-family: Georgia;
}
.simpleGrid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}
/* ============================================= *\
                Headings
\* ============================================= */

h1 {
    vertical-align: middle;
    margin: 0em;
    padding: 0.2em 0em 0.2em 0em;
}
h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: inherit;

}
/* ============================================= *\
                Main Menu
\* ============================================= */
#mainMenu {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    justify-items: center;
    align-items: center;
}
#mainMenu button{
    font-size: 1.5em;
    width: 170pt;
    margin: 0 0 0 0.2em;
    font-family: inherit;
    font-weight: 700;
}
div.MMbutton {
    display: flex;
    margin: .5em 0 0 0;
    box-sizing: border-box;
}


/* ============================================= *\
               Paragraphs
\* ============================================= */




/* ============================================= *\
                Links and Nav
\* ============================================= */





/* ============================================= *\
                Inputs
\* ============================================= */

button {
    width: 200pt;
    font-size: 1.2em;
    box-sizing: border-box;
}
button.closeButton {
    margin: 1em auto 1em auto;
}
input[type=text] {
    width: 100%;
    font-size: 1.3em;
    border: 1px solid black;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 2px solid black;
}
#enterANounFieldSet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    width: 95%;
    margin: 0 0 1.5em 0;
    box-sizing: border-box;
}
select {
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 1.1em;
}

/* ============================================= *\
                Icons, images
\* ============================================= */

img, svg {
    height: 50px;
    width: auto;
}
    
    

/* ============================================= *\
                Buttons
\* ============================================= */



/* ======================================== */
/*          Toggle Tabs        */
/* ======================================== */
.toggleToken {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 3px 3px black;
}
.checked {
    background-color: cornflowerblue;
    box-shadow: -1px -1px black;
}


/* ============================================= *\
                Tables
\* ============================================= */

table {
    border: 1px solid black;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
    margin: 1em;
}
tr, td {
    border: 1px solid black;
}
table.nounEndingsTable {
    text-align: center;
}
table.otherChartsTable {
    text-align: center;
}
td.firstColumn {
    width: 10%;
    text-align: left;
    font-weight: 900;
}
td {
}
caption {
    text-align: left;
    font-weight: 800;
}
td.boldedCell {
    font-weight: 800;
}

/* ============================================= *\
                FlexBox
\* ============================================= */




/* ============================================= *\
                Other
\* ============================================= */

hr {
    border: 1px solid black;
    width: 90%;
    margin: 1em auto;
    box-sizing: border-box;

}
hr.debug {
    border: 10px solid black;
}

.centeredAndLarge {
    text-align: center;
    font-size: 1.4em;
}


