body {
    align-content: center;
    background-color: #f2f2f2;
    font-family: monospace;
    font-size: 2em;
    text-align: center;
}
div#toggleButtons {
    margin: 0em;
}
fieldset#userInput { 
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
fieldset#toggleButtons {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
fieldset#toggleButtons h3, h5 {
    margin: 10px 0 0 0 ;
}
h1 {
    
}
h2 {
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.3em;
    margin: 1em auto 1em auto;
    width: 95%;
}
input {
    background-color: white;
    font-size: 0.7em;
} 
input[type=text] {
    width: 500px;
}
main { 
    margin: 2.8em auto;
}
section {
    margin: 0 auto 0 auto;
    width: 80%;
}
select {
    background-color: white;
    border: 1px solid black;
    font-family: inherit;
    font-size: 0.8em;
    margin-left: 0.5em;
    min-height: 30px;
    min-width: 500px;
}
table { 
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 3px;
    font-size: 1.5em;
    margin: 0 auto 0 auto ;
    width: 95%;
    margin-bottom: 2.5em;
    margin-top: -0.5em;
}
td {
    background-color: white;
    border: 2px solid black;
    text-align: left;
    padding: 0 0 0 15px;
}
.centeredAndLeft {
    line-height: 0;
    margin: 0.5em;
    text-align: left;
}
.centeredAndNarrow {
    line-height: 0;
    margin: 0.5em;
    text-align: center;
}
.containerColumn {
    display: flex;
    flex-direction: column;
}
.containerRow {
    display: flex;
    flex-direction: row;
}
.linkToPortfolio {
    background-color: black;
    height: 65px;
    margin: 0;
    padding: 0em;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 100%;
}
.linkToPortfolio > a {
    color: snow;
    padding-left: 1em;
}
.portfolioLink {
    font-size: 25px;
}